// Primary Colors
$primary-color: #d4af37;
$primary-bright-color: #e5d289;
$primary-light-color: #fffff0;

// Secondary Colors
$secondary-color: #333333;
$secondary-bright-color: #b5a575;
$secondary-light-color: #f5f5dc;

// Accent & Other Colors
$accent-color: #1e3a5f;
$ping-color: #f4e1d2;
$interactive-color: #4c7f59;
$error-color: #800020;