.banner-right-logo {
    position: relative;
    img {
        position: absolute;
        transform: translate(-10%,-25%);
    }
}

.banner-left-logo {
    padding: 6rem 0rem 6rem 6rem;
    
    h1 {
        font-size: 3rem;
    }
    p {
        font-size: 20px;
    }
}
.map-pointer {
    position: absolute;
    top: 38vh;
    right: 32vw;
}

.img-25-container {
    overflow: hidden;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;

    .img-25 {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 100%;
    }
}

.img-right {
    background-color: var(--accent-color);
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.border-l--primary {
    border-left: 2px solid var(--primary-color);
}

.stars-container {
    display: inline-flex;
    min-height: 5rem;
    justify-content: center;
    width: 100%;
    gap: 1.5rem;
    margin-top: 1.5rem;

    .star {
        width: 4rem;
        height: 4rem;
        background: url('/images/icons/star.png') no-repeat;
        background-size: contain;
    }
}
.parts-4-container {
    position: relative;
    padding-left: 3rem;

    .part-1 {
        width: 40%;
        position: absolute;
        top: 0;
        left: 10%;
    }
    .part-2 {
        width: 40%;
        position: absolute;
        top: 0;
        right: 5%;
        padding: 4rem 4rem 4rem 0;
    }
    .part-3 {
        width: 40%;
        height: 40%;
        position: absolute;
        bottom: 5%;
        right: 15%;
        overflow: hidden;
        
        img {
            position: absolute;
            top: -100px;
        }
    }
}